<h2><%= link_to profile.name , profile %></h2>
<%= render partial: "application/avatar", :locals => {:profile => profile} %>
<p><%= profile.age %></p>

  <div>
    <%= link_to 'Edit', edit_profile_path(profile) if can? :update, profile %>
    <%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, profile %>
  </div>
  <br><br>
