<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @profile.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @profile.age %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user_id %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @profile.visibility %>
</p>

<p>
  <strong>Avatar:</strong>
  <% if @profile.avatar.attached? %>
    <%= image_tag "#{url_for(@profile.avatar)}", style:"height:100px" %>
  <% else %>
  <% end %>
</p>

<p>
  <strong>Images:</strong>
  <% if @profile.images.attached? %>
    <% @profile.images.items do |image| %>
      <%= image_tag "#{url_for(profile.avatar)}", style:"height:100px" %>
    <% end %>
  <% else %>
    <%= "No images" %>
  <% end %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Destination city:</strong>
  <%= @profile.destination_city %>
</p>

<p>
  <strong>Tidiness:</strong>
  <%= @profile.tidiness %>
</p>


<p>
  <strong>Partyness:</strong>
  <%= @profile.partyness %>
</p>


<p>
  <strong>Time at home:</strong>
  <%= @profile.time_at_home %>
</p>

<p>
  <strong>Destination city:</strong>
  <%= @profile.destination_city %>
</p>

<p>
  <strong>Description:</strong>
  <%= @profile.description %>
</p>

<p>
  <strong>interests:</strong>
  <%= @profile.interests %>
</p>

<p>
  <strong>work_field:</strong>
  <%= @profile.work_field %>
</p>

<p>
  <strong>queer_friendly:</strong>
  <%= @profile.queer_friendly %>
</p>

<p>
  <strong>recycle:</strong>
  <%= @profile.recycle %>
</p>

<p>
  <strong>smoking:</strong>
  <%= @profile.smoking %>
</p>

<p>
  <strong>diet:</strong>
  <%= @profile.diet %>
</p>

<p>
  <strong>daily_regime:</strong>
  <%= @profile.daily_regime %>
</p>

<p>
  <strong>communicativeness:</strong>
  <%= @profile.communicativeness %>
</p>

<p>
  <strong>instagram_link:</strong>
  <%= @profile.instagram_link %>
</p>

<p>
  <strong>vk_link:</strong>
  <%= @profile.vk_link %>
</p>

<p>
  <strong>facebook_link:</strong>
  <%= @profile.facebook_link %>
</p>

  <div>
    <%= link_to 'Edit', edit_profile_path(@profile) if can? :update, @profile %>
    <%= link_to 'Destroy', @profile, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, @profile %>
  </div>
